<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduInsight | Automated tool for VTU colleges</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: Inter, sans-serif;
        }
    </style>
</head>
<body class="bg-gray-50 h-screen items-center justify-start">

    <nav class="fixed shadow-sm bg-white inset-x-0 bottom-7 left-1/2 transform -translate-x-1/2 border border-gray-300 rounded-full py-1 px-4 flex justify-center items-center w-fit z-50">
        <div class="hidden md:flex space-x-1">

            <a href="{% url 'automate' %}" class="relative inline-block px-3 py-2 text-black transition-all duration-100 ease-in hover:scale-125 hover:px-7 rounded-full group">
                <span class="relative">Automate</span>

                <span class="absolute left-1/2 top-full mt-2 -translate-x-1/2 opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-opacity duration-300 bg-black text-white text-xs rounded py-1 px-2 whitespace-nowrap">
                    Start Scraping
                </span>
            </a>    
            <span class="relative inline-block py-2 text-gray-300">|</span>
            <!-- Get Insights Link -->
            <a href="#" class="relative inline-block px-3 py-2 text-black transition-all duration-300 ease-in-out hover:scale-125 hover:px-7 rounded-full group">
                <span class="relative">Get Insights</span>
                <!-- Tooltip -->
                <span class="absolute left-1/2 top-full mt-2 -translate-x-1/2 opacity-0 invisible group-hover:visible group-hover:opacity-100 transition-opacity duration-300 bg-black text-white text-xs rounded py-1 px-2 whitespace-nowrap">
                    Analyse Marks
                </span>
            </a>
        </div>
    </nav>
    
    
    
    
    {% block content %}{% block extra_js %}{% endblock %}
    {% endblock %}
    
</body>
</html>